<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Angular Material</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div>
        <mat-slider></mat-slider>
    </div>

    <main>
        <mat-card>
            <form action="">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Title" #title>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Album id</mat-label>
                    <mat-select placeholder="" #albumid>
                        <mat-option *ngFor="let id of albumsId" value="id">
                            {{id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="URL" #url>
                </mat-form-field>
                <button mat-raised-button color="primary" style="width: 100%;">Save</button>
            </form>
        </mat-card>
    </main>

</body>

</html>