main {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

mat-card,
app-photos,
app-line-chart {
    margin: auto;
    width: 35%;
    display: block;
    margin-top: 2rem;
}

mat-form-field {
    display: block;
    margin-top: 2rem;
}